@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.image{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 20px;

}
.image .profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;

}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;

}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 500;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.media-buttons.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    background-color: #4070f4;

}
.media-buttons.link i{
    color: #e8e5e5;
    font-size: 18px;
}


